## Question 9

In [2]:
import pandas as pd
import re
from io import StringIO

In [3]:
data = """Device_Type,Stats_Access_Link
AXO145,<url>https://xcd32112.smart_meter.com</url>
TRU151,<url>http://tXh67.dia_meter.com</url>
ZOD231,<url>http://yT5495.smart_meter.com</url>
YRT326,<url>https://ret323_TRu.crown.com</url>
LWR245,<url>https://luwr3243.celcius.com</url>"""

df = pd.read_csv(StringIO(data))

In [4]:
df

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [6]:
df['Pure_Url'] = df['Stats_Access_Link'].apply(lambda x: re.sub(r'^https?://', '', re.sub(r'<[^>]*>', '', x)))

In [7]:
df

,Device_Type,Stats_Access_Link,Pure_Url
0,AXO145,<url>https://xcd32112.smart_meter.com</url>,xcd32112.smart_meter.com
1,TRU151,<url>http://tXh67.dia_meter.com</url>,tXh67.dia_meter.com
2,ZOD231,<url>http://yT5495.smart_meter.com</url>,yT5495.smart_meter.com
3,YRT326,<url>https://ret323_TRu.crown.com</url>,ret323_TRu.crown.com
4,LWR245,<url>https://luwr3243.celcius.com</url>,luwr3243.celcius.com